<html>
<head>
<title>Rank and Movie Quiz </title> 
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="javascripts/movies.js"></script>
<link rel="stylesheet" type="text/css" href="stylesheets/movies.css">
</head>
<body>

<div ng-app='app' ng-controller='movieCtrl'>

<div class='header'>
  <h1> Favorite Movie Rank and Quiz </h1>
  <p> Add movies, rank them, and quiz yourself </p>
</div>

<div class='addr'>
  <h3>Add a Movie to the list below </h3>
  <p>Type the name of the movie and the year it released with no spaces</p>
  <p>It will then be added to the rankings and quiz game </p> 
  <form name='userMovie' ng-submit='addNew(userMovie)'>
    <input placeholder='Title' ng-model='userMovie.title'/>
    <input placeholder='Year' ng-model='userMovie.year'/>
    <button type='submit'> Add Movie </button>
  </form>  
</div>
<form class='rbuttons'>
  <input id="rank" type="radio" ng-model="game" value="false">
  <label class="label1" for="rank">Rankings </label>
  <input id="quiz" type="radio" ng-model="game" value="true">
  <label class="label2" for="quiz">Quiz</label>
</form>
<div ng-switch="game">
 <div ng-switch-when="false">
 <div ng-if='movies.length'>
  <div class='movieList'ng-repeat="movie in movies | orderBy:'-votes'" >
    <span>
       <img ng-src="{{movie.poster}}"/>
        <h2>{{movie.title}} </h2>
         <p>{{movie.year}} </p>
         <p> Votes: {{movie.votes}} </p>
    </span>
    <span class='upArrow' ng-click='upVote(movie)'><img class="manImg" src="https://maxcdn.icons8.com/Share/icon/Hands//thumb_up1600.png", align="middle"></img></span>
    <span class='downArrow' ng-click='downVote(movie)'><img class="manImg" src="https://maxcdn.icons8.com/Share/icon/Hands//thumbs_down1600.png", align="middle"></img></span>
  </div>
 </div>
 </div>
 <div class='movieList' ng-switch-when="true">
   <p>See if you can match the Movie with the year it was released </p>
   <p>If you get it right the answer it will change </p>
   <img ng-src="{{movies[currentindex].poster}}"/>
   <h2> {{movies[currentindex].title}}</h2> 
   <form name='answer' ng-submit='checkAns(answer)'>
     <input placeholder='Year?' ng-model='answer.year'/>
     <button type='submit'> Make Guess </button>
   </form>   
   <p>{{correct}}</p>
 </div>
</div>
</div>

</body>
</html>
